<ion-view title="Data Guru" id="berandaAdmin">
    <ion-nav-buttons side="right" class="has-header">
        <button class="button button-light icon ion-android-add" ng-click="TambahData()">Tambah</button>
    </ion-nav-buttons>
    <ion-content padding="false" class="bg-latar bg-watermark">
        <div style="margin-top: 20px; margin-left:auto;margin-right:auto;width: 100vw;">
            <div>
                <div style="margin-left:auto;margin-right:auto;padding-left: 0.7%;padding-right: 0.6%;">
                    <label class="item item-input shadow-sm h-70" id="home-search1">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input type="search" placeholder="Cari Data" ng-model="searchData">
                    </label>
                    <ion-list>
                        <ion-item class="item-avatar item-icon-right shadow-sm h-70" id="home-list-item4"
                            ng-repeat="data in dataGuru | filter:searchData | orderBy:nama" ng-click="getData(data)">
                            <img src="img/mudapns.png">
                            <h3><span style="color:blue">{{$index+1}}. {{data.nama}}</span></h3>
                            <p style="white-space:normal;">NIK. {{data.nik}}<br></p>

                            <i class="icon ion-ios-arrow-right icon-accessory"></i>
                        </ion-item>
                    </ion-list>
                </div>
            </div>
        </div>

    </ion-content>
    <ion-footer-bar align-title="left" class="bar-light">
        <!-- <button class="button button-clear pull-left">Jumlah GTK</button> -->
        <button class="button button-positive pull-right">Total :
            <strong>{{formData.totalGtk}}</strong> Orang</button>
    </ion-footer-bar>
</ion-view>