<ion-view title="Tambah Data" cache-view="false" id="page8" style="background-color:#EEEEEE">
    <ion-content padding="false" class="has-header bg-watermark">
        <div class="row responsive-md" style="margin: auto;">
            <div class="col col-50 col-offset-25">
                <form class="list" name="myForm">
                    <ion-list>
                        <ion-item class="item-divider bar bar-positive input" id="registrasi-list-item-divider1"> Data Diri
                        </ion-item>
                        <label class="item item-input item-stacked-label input">
                            <span class="input-label">
                                <p>Nama Lengkap <span style="color: red; font-size: large;"> *</span></p>
                            </span>
                            <input type="text" ng-model="formData.nama" style="color: black;"
                                required>
                        </label>
                        <label class="item item-select" id="registrasi-select8">
                            <span class="input-label">
                                <p>Jenis Kelamin <span style="color: red; font-size: large;"> *</span></p>
                            </span>
                            <select ng-model="formData.jenis_kelamin">
                                <option>Laki-laki</option>
                                <option>Perempuan</option>
                            </select>
                        </label>
                        <label class="item item-input item-stacked-label input" id="registrasi-input7">
                            <span class="input-label">
                                <p>NIK <span style="color: red; font-size: large;"> *</span></p>
                            </span>
                            <input type="tel" ng-model="formData.nik">
                        </label>
                        <label class="item item-input item-stacked-label input" id="registrasi-input6">
                            <p>Tanggal Lahir <span style="color: red; font-size: large;"> *</span></p>
                            <!-- <span class="input-label">
                                <p>Tanggal Lahir</p>
                            </span> -->
                            <input type="date" ng-model="formData.tanggal_lahir">
                        </label>

                        <label class="item item-select" id="registrasi-select8">
                            <span class="input-label">
                                <p>Agama <span style="color: red; font-size: large;"> *</span></p>
                            </span>
                            <select ng-model="formData.agama">
                                <option>Hindu</option>
                                <option>Islam</option>
                                <option>Katholik</option>
                                <option>Protestan</option>
                                <option>Buddha</option>
                                <option>Kong Hu Cu</option>
                            </select>
                        </label>
                        <label class="item item-input" id="registrasi-textarea1">
                            <span class="input-label">
                                <p>Alamat <span style="color: red; font-size: large;"> *</span></p>
                            </span><textarea ng-model="formData.alamat"></textarea>
                        </label>

                        <label class="item item-input item-stacked-label input" id="registrasi-input7">
                            <span class="input-label">
                                <p>No Hp <span style="color: red; font-size: large;"> *</span></p>
                            </span>
                            <input type="tel" ng-model="formData.nohp">
                        </label>

                        <label class="item item-input item-stacked-label input" id="registrasi-input7">
                            <span class="input-label">
                                <p>Password <span style="color: red; font-size: large;"> *</span></p>
                            </span>
                            <input type="password"  ng-model="formData.password">
                        </label>

                        <div class="spacer" style="height: 10px;"></div>
                        <ion-item class="item-divider bar bar-positive input" id="registrasi-list-item-divider1">Data Kepegawaian
                        </ion-item>

                        <label class="item item-select" id="registrasi-select8">
                            <span class="input-label">
                                <p>Status Kepegawaian <span style="color: red; font-size: large;"> *</span></p>
                            </span>
                            <select ng-model="formData.status_kepegawaian" ng-change="getStatusPegawai()">
                                <!-- <option value="pnsp">PNSP</option> -->
                                <option value="pnsd">PNS</option>
                                <option value="pppk">PPPK</option>
                                <option value="honorer daerah">Honorer daerah</option>
                                <option value="honorer sekolah">Honorer sekolah</option>
                                <option value="kontrak">Kontrak</option>
                            </select>
                        </label>

                        <label class="item item-input item-stacked-label input" id="registrasi-input7"
                            ng-show="statusnip">
                            <span class="input-label">
                                <p>NIP</p>
                            </span>
                            <input type="tel" ng-model="formData.nip">
                        </label>

                        <label class="item item-select" id="registrasi-select8">
                            <span class="input-label">
                                <p>Studi Terakhir <span style="color: red; font-size: large;"> *</span></p>
                            </span>
                            <select ng-model="formData.pendidikan_terakhir">
                                <option value="SD">SD / SEDERAJAT</option>
                                <option value="SMP">SMP/SEDERAJAT</option>
                                <option value="SMA">SMA/SMK / SEDERAJAT</option>
                                <option value="D3">AKADEMI/ DIPLOMA III/S. MUDA</option>
                                <option value="D1/D2">DIPLOMA I / II</option>
                                <option value="S1/D4">STRATA I / DIPLOMA IV</option>
                                <option value="S2">STRATA II</option>
                                <option value="S3">STRATA III</option>
                            </select>
                        </label>

                        <label class="item item-select" id="registrasi-select8" ng-show="statusnip">
                            <span class="input-label">
                                <p>Golongan</p>
                            </span>
                            <select ng-model="formData.pangkat_terakhir">
                                <option value="Ia">Ia</option>
                                <option value="Ib">Ib</option>
                                <option value="Ic">Ic</option>
                                <option value="Id">Id</option>
                                <option value="IIa">IIa</option>
                                <option value="IIb">IIb</option>
                                <option value="IIc">IIc</option>
                                <option value="IId">IId</option>
                                <option value="IIIa">IIIa</option>
                                <option value="IIIb">IIIb</option>
                                <option value="IIIc">IIIc</option>
                                <option value="IIId">IIId</option>
                                <option value="IVa">IVa</option>
                                <option value="IVb">IVb</option>
                                <option value="IVc">IVc</option>
                                <option value="IVd">IVd</option>
                                <option value="IVe">IVe</option>
                            </select>
                        </label>

                        <label class="item item-select" id="registrasi-select8" ng-show="statusnip">
                            <span class="input-label">
                                <p>Sertifikasi</p>
                            </span>
                            <select ng-model="formData.sertifikasi">
                                <option value="sudah">Sudah</option>
                                <option value="belum">Belum</option>
                            </select>
                        </label>

                        <label class="item item-input item-stacked-label input" id="registrasi-input7"
                            ng-show="statusnip">
                            <span class="input-label">
                                <p>Nilai PAK Terakhir</p>
                            </span>
                            <input type="number" ng-model="formData.nilai_pak">
                        </label>
                        <div class="spacer" style="height: 10px;"></div>
                        <ion-item class="item-divider bar bar-positive input" id="registrasi-list-item-divider1">Tempat Tugas</ion-item>
                        <label class="item item-select" id="registrasi-jenistempat">
                            <span class="input-label">
                                <p>Jenis Tempat <span style="color: red; font-size: large;"> *</span></p>
                            </span>
                            <select ng-model="formData.jenis_tempatTugas" ng-change="getJenistempatTugas()">
                                <option value="Disdikpora">Disdikpora</option>
                                <option value="Kordinator Wilayah">Kordinator Wilayah</option>
                                <option value="Sekolah">Satuan Pendidikan ( Sekolah )</option>
                            </select>
                        </label>
                        <label class="item item-select" ng-show="tampil_kecamatan">
                            <span class="input-label">
                                <p>Kecamatan <span style="color: red; font-size: large;"> *</span></p>
                            </span>
                            <select ng-model="formData.id_kec" ng-change="getIdKecamatan()">
                                <option ng-repeat="data in dataKecamatan | orderBy:'nama'" value="{{data.id}}">
                                    {{data.nama}}</option>
                            </select>
                        </label>

                        <label class="item item-select" id="registrasi-select8" ng-show="jenjang">
                            <span class="input-label">
                                <p>Jenjang <span style="color: red; font-size: large;"> *</span></p>
                            </span>
                            <select ng-model="formData.jenjangSekolah" ng-change="getJenjangSekolah()">
                                <option value="TK">PAUD/TK</option>
                                <option value="SD">SD</option>
                                <option value="SMP">SMP</option>
                                <option value="SKB">SPNF SKB</option>
                                <option value="PKBM">PKBM</option>
                            </select>
                        </label>
                        <label class="item item-select" id="registrasi-select8" ng-show="jenjang">
                            <span class="input-label">
                                <p>Status Sekolah <span style="color: red; font-size: large;"> *</span></p>
                            </span>
                            <select ng-model="formData.statusSekolah" ng-change="getStatusSekolah()">
                                <option value="NEGERI">Negeri</option>
                                <option value="SWASTA">Swasta</option>
                            </select>
                        </label>
                        <label class="item item-select" id="registrasi-select8" ng-show="PilihanTempatTugas">
                            <span class="input-label">
                                <p>Tempat Tugas <span style="color: red; font-size: large;"> *</span></p>
                            </span>
                            <select ng-model="formData.TempatTugas" ng-change="getTempatTugas()">
                                <option ng-repeat="data in dataSekolah | orderBy:'sekolah'" value="{{data.id_sekolah}}"
                                    ng-show="sekolah">
                                    {{data.sekolah}}</option>
                                <option ng-show="dinas" value="Disdikpora Kab Buleleng">Disdikpora Kab Buleleng</option>
                            </select>
                        </label>
                        <label class="item item-select" id="registrasi-select8" ng-show="dinas">
                            <span class="input-label">
                                <p>Sub Unit Kerja <span style="color: red; font-size: large;"> *</span></p>
                            </span>
                            <select ng-model="formData.SubunitKerja">
                                <option>Sekretariat</option>
                                <option>Bidang PAUD PNF</option>
                                <option>Bidang PSD</option>
                                <option>Bidang PSMP</option>
                                <option>Bidang PGTK</option>
                                <option>Bidang PPO</option>
                            </select>
                        </label>
                        <label class="item item-select" id="registrasi-select8">
                            <span class="input-label">
                                <p>Status Jabatan <span style="color: red; font-size: large;"> *</span></p>
                            </span>
                            <select ng-model="formData.status_jabatan" ng-change="getJabatan()">
                                <!-- Satuan Pendidikan -->
                                <option ng-show="pejabatsekolah">Pengawas Sekolah</option>
                                <option ng-show="pejabatsekolah && !pkbm && !terbuka">Kepala Sekolah</option>
                                <option ng-show="pkbm">Ketua PKBM</option>
                                <option ng-show="terbuka">Pelaksana Harian</option>
                                <option ng-show="pejabatsekolah && !pkbm && !skb && !terbuka">Guru</option>
                                <option ng-show="pkbm || skb">Tutor</option>
                                <option ng-show="terbuka">Pamong</option>
                                <option ng-show="pejabatsekolah">Tenaga Administrasi</option>
                                <option ng-show="pejabatsekolah">Laboran</option>
                                <option ng-show="pejabatsekolah">Pustakawan</option>
                                <option ng-show="pejabatsekolah">Penjaga Sekolah</option>
                                <option ng-show="pejabatsekolah">Tenaga Kebersihan</option>
                                <option ng-show="pejabatsekolah">Tenaga Keamanan</option>
                                <option ng-show="pejabatsekolah">Tenaga Lainnya</option>

                                <!-- Korwil -->
                                <option ng-show="jabatanKorwil">Pengawas Sekolah</option>
                                <option ng-show="jabatanKorwil">ASN Lainnya</option>
                                <!-- Disdikpora -->
                                <option ng-show="pegawaidisdik">Struktural Eselon II</option>
                                <option ng-show="pegawaidisdik">Struktural Eselon III</option>
                                <option ng-show="pegawaidisdik">Struktural Eselon IV</option>
                                <option ng-show="pegawaidisdik">Pengawas TK</option>
                                <option ng-show="pegawaidisdik">Pengawas SD</option>
                                <option ng-show="pegawaidisdik">Pengawas SMP</option>
                                <option ng-show="pegawaidisdik">Penilik</option>
                                <option ng-show="pegawaidisdik">Pamong Belajar</option>
                                <option ng-show="pegawaidisdik">Tatausaha</option>
                                <option ng-show="pegawaidisdik">Fungsional Umum</option>
                                <option ng-show="pegawaidisdik">Laboran</option>
                                <option ng-show="pegawaidisdik">Pustakawan</option>
                                <option ng-show="pegawaidisdik">Lain - lain</option>


                            </select>
                        </label>

                        <label class="item item-select" id="registrasi-select8" ng-show="ProfesiGuru">
                            <span class="input-label">
                                <p>Mengajar <span style="color: red; font-size: large;"> *</span></p>
                            </span>
                            <select ng-model="formData.profesi">
                                <option ng-repeat="data in dataMapel | orderBy:'mata_pelajaran'"
                                    value="{{data.mata_pelajaran}}">
                                    {{data.mata_pelajaran}}</option>
                            </select>
                        </label>
                        <div class="spacer" style="height: 10px;"></div>
                    </ion-list>
                    <button ng-click="registrasi()" class="button button-balanced button-block">Simpan</button>
                    <!-- <button ng-click="kembali()" class="button button-outline button-balanced button-block">Kembali</button> -->
                </form>
            </div>
        </div>

    </ion-content>
</ion-view>