<ion-view title="Ganti Foto Profil" id="berandaGuru" class="latar">
    <ion-nav-buttons side="right" class="bg-latar bg-watermark">
        <!-- <button class="button button-balanced icon ion-settings" ng-click="editprofil()">&nbsp;Edit</button> -->
    </ion-nav-buttons>
    <ion-content padding="false" class="has-header">
        <div class="row responsive-md" style="margin: auto;">
            <div class="col col-50 col-offset-25">
                <div class="kartuBaru">
                    <img src="img/logo.png" class="avatar" ng-if="fotoProfil === false" style="height: 10%;">
                    <img src="{{fotoProfilUrl}}" class="avatar" ng-if="fotoProfil === true" style="height: 10%;">
                    <h4 style="text-align: center;color:black;">{{formData.nama}}</h4>
                    <!-- <button ng-click="registrasi()" class="button button-balanced button-block">Registrasi</button> -->
                    <input type="file" id="inputFotoProfil">
                    <br>
                    <button class="button button-positive"
                    style="width: 200px; display: block; margin-left: auto;margin-right: auto;" ng-click="UploadFotoProfil()">Upload
                </div>
            </div>
        </div>
  </ion-content>
</ion-view>
