<ion-view title="Edit Password" id="berandaGuru">
    <ion-content padding="false">
      <center>
        <div class="bg-gradient-blue" style="min-height: 35vh;">
          <img src="img/logo.png" ng-if="fotoProfil === false" style="width:100px;padding-top:15px;">
          <img src="{{fotoProfilUrl}}" ng-if="fotoProfil === true">
          <h3 style="color:white;font-size:20px">{{formData.nama}}</h3>
          <p style="color:white;padding-bottom:15px">{{formData.nik}}</p>
        </div>
      </center>

      <form class="list desktop" name="myForm">
        <div class="list card" style="border-radius:15px">
            <div class="item item-divider bar bar-positive" id="registrasi-list-item-divider1" >
                Password
              </div>
              <div class="list">
                <label class="item item-input item-floating-label input" id="registrasi-input7">
                    <span class="input-label">
                        <p>Password</p>
                    </span>
                    <input type="text" placeholder="Password" ng-model="formData.password">
                </label>
              </div>
        </div>
        <div class="px-2">
          <button class="button button-positive ion-android-contact button-block" ng-click="editPassword()">
            Edit Password
          </button>
        </div>

    </form>
    </ion-content>
  </ion-view>
  