<ion-view title="Profil" id="berandaGuru" >
    <ion-nav-buttons side="right" class="has-header">
        <button class="button button-light icon ion-gear-a" ng-click="editprofil()">&nbsp;Edit</button>
    </ion-nav-buttons>
    <ion-content padding="false" class="has-header">
        <div class="bg-gradient-blue" style="min-height: 38vh;">
            <center>
                <div>
                  <img src="img/logo.png" ng-if="fotoProfil === false" style="width:100px;padding-top:15px;">
                  <img src="{{fotoProfilUrl}}" ng-if="fotoProfil === true">
                  <h3 style="color:white;font-size:20px">{{formData.nama}}</h3>
                  <p style="color:white;padding-bottom:15px;">{{formData.nik}}</p>
                </div>
            </center>
        </div>
        <div class="bg-white bg-watermark" style="padding:0px; border-radius : 25px 25px 0px 0px;position: relative;bottom: 5vh;">
            <div class="" >
                <div class="desktop" style="padding-top:2% ">
                    <form class="list" name="myForm">
                        <div class="list card" style="border-radius:15px">
                            <div class="item item-divider bar bar-positive" id="registrasi-list-item-divider1" >
                                Data Diri
                              </div>
                              <div class="list">
                                <label class="item item-input item-floating-label input" id="registrasi-input7">
                                    <span class="input-label">
                                        <p>
                                            Jenis Kelamin 
                                        </p>
                                    </span>
                                    <input type="text" placeholder="Jenis Kelamin" ng-model="formData.jenis_kelamin" readonly>
                                </label>
                                <label class="item item-input item-floating-label input" id="registrasi-input7">
                                    <span class="input-label">
                                        <p>
                                            NIK
                                        </p>
                                    </span>
                                    <input type="text" placeholder="NIK" ng-model="formData.nik" readonly>
                                </label>
                                <label class="item item-input item-floating-label input" id="registrasi-input6">
                                    <span class="input-label">
                                        <p>
                                            Tanggal Lahir
                                        </p>
                                    </span>
                                    <input type="text" placeholder="Tanggal Lahir" ng-model="formData.tanggal_lahir" readonly>
                                </label>
                                <label class="item item-input item-floating-label input" id="registrasi-input6">
                                    <span class="input-label">
                                        <p>
                                            Agama
                                        </p>
                                    </span>
                                    <input type="text" placeholder="Agama" ng-model="formData.agama" readonly>
                                </label>
                                
                                <label class="item item-input" id="registrasi-textarea1">
                                    <span class="input-label">
                                        <p>
                                            Alamat
                                        </p>
                                    </span><textarea placeholder="" ng-model="formData.alamat" readonly></textarea>
                                </label>
                                <label class="item item-input item-floating-label input" id="registrasi-input6">
                                    <span class="input-label">
                                        <p>
                                            No Hp
                                        </p>
                                    </span>
                                    <input type="text" placeholder="No Hp" ng-model="formData.nohp" readonly>
                                </label>
                              </div>
                        </div>
                        <div class="list card" style="border-radius:15px">
                            <div class="item item-divider bar bar-positive" id="registrasi-list-item-divider1" >
                                Data Kepegawaian
                              </div>
                              <div class="list">
                                <label class="item item-input item-floating-label input" id="registrasi-input6">
                                    <span class="input-label">
                                        <p>
                                            Status Kepegawaian
                                        </p>
                                    </span>
                                    <input type="text" placeholder="status_kepegawaian" ng-model="formData.status_kepegawaian" style="text-transform: uppercase;" readonly>
                                </label>
        
                                <label class="item item-input item-floating-label input" id="registrasi-input7">
                                    <span class="input-label">
                                        <p>
                                            NIP
                                        </P>
    
                                    </span>
                                    <input type="text" placeholder="NIP" ng-model="formData.nip" readonly>
                                </label>
        
                                <label class="item item-input item-floating-label input" id="registrasi-input6">
                                    <span class="input-label">
                                        <p>
                                            Pendidikan Terakhir
                                        </P>
    
                                    </span>
                                    <input type="text" placeholder="Pendidikan Terakhir" ng-model="formData.pendidikan_terakhir" readonly>
                                </label>
        
                                <label class="item item-input item-floating-label input" id="registrasi-input7">
                                    <span class="input-label">
                                        <p>
                                            Pangkat Terakhir
                                        </P>
    
                                    </span>
                                    <input type="text" placeholder="Pangkat Tereakhir" ng-model="formData.pangkat_terakhir" readonly>
                                </label>
        
                                <label class="item item-input item-floating-label input" id="registrasi-input7">
                                    <span class="input-label">
                                        <p>
                                            Nilai PAK Terakhir 
                                        </P>
                                    </span>
                                    <input type="tel" placeholder="Nilai PAK Terakhir" ng-model="formData.nilai_pak" readonly>
                                </label>
        
                                <label class="item item-input item-floating-label input" id="registrasi-input7">
                                    <span class="input-label">
                                        <p>
                                            Status Sertifikasi 
                                        </P>
                                    </span>
                                    <input type="text" placeholder="Status Sertifikasi" ng-model="formData.sertifikasi" readonly>
                                </label>
        
        
                                <label class="item item-input item-floating-label input" id="registrasi-input7">
                                    <span class="input-label">
                                        <p>
                                            Tahun Pensiun
                                        </P>
                                    </span>
                                    <input type="text" placeholder="Tahun Pensiun" ng-model="formData.tahun_pensiun" readonly>
                                </label>
                              </div>
                        </div>
                        <div class="list card" style="border-radius:15px">
                            <div class="item item-divider bar bar-positive" id="registrasi-list-item-divider1" >
                                Tempat Tugas
                              </div>
                              <div class="list">
                                <label class="item item-input item-floating-label input" id="registrasi-input6">
                                    <span class="input-label">
                                        <p>
                                            Tempat Tugas
                                        </p>
                                    </span>
                                    <input type="text" placeholder="Pendidikan Terakhir" ng-model="formData.TempatTugas" readonly>
                                </label>
                                <label class="item item-input item-floating-label input" id="registrasi-input6" ng-show="statusSubunit">
                                    <span class="input-label">
                                        <p>
                                            Sub Unit Dinas
                                        </p>
                                        
                                    </span>
                                    <input type="text" placeholder="Sub Unit Dinas" ng-model="formData.subUnitDinas" readonly>
                                </label>
                                <label class="item item-input item-floating-label input" id="registrasi-input6">
                                    <span class="input-label">
                                        <p>
                                            Status Jabatan
                                        </p>
                                        
                                    </span>
                                    <input type="text" placeholder="Pendidikan Terakhir" ng-model="formData.status_jabatan" readonly>
                                </label>
                              </div>
    
                          
                        </div>
                    </form>
                </div>
            </div>
        </div>


  </ion-content>
</ion-view>
