<ion-view title="Log In Sekolah" cache-view="false" id="page8" hide-nav-bar="true">
  <ion-content padding="true" class="bg-gradient-blue">
    <style>
      h5 {
        font-weight: bold;
      }

    </style>
    <div class="row responsive-md" style="margin: auto;">
      <div class="col col-50 col-offset-25">
        <div>
          <img src="img/Lambang_Kabupaten_Buleleng.png"
            style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto; margin-bottom:20px; margin-top:50px">
        </div>
        <div>
          <center>
            <h5 class="text-white montserrat" style="font-size: 20px;">Log In Sekolah</h3>
              <h5 class="text-white montserrat">Silahkan Masukan Email & Password Akun Anda</h4>
          </center>
        </div>
        <form class="list" name="myForm">
          <ion-list>
            <label class="item item-input" id="login-form">
              <ion-icon name="school" class="placeholder-icon text-white"></ion-icon>

              <input type="text" placeholder="ID Sekolah" ng-model="formData.email" name="id"
                aria-placeholder="ID Sekolah" class="text-white montserrat">
            </label>
            <small class="help-block" ng-show="myForm.email.$touched &amp;&amp; myForm.email.$invalid">Masukan ID
              Sekolah yang benar</small>
            <label class="item item-input" style="margin-top:10px" id="login-form">
              <ion-icon name="key" class="placeholder-icon text-white"></ion-icon>
              <input type="password" placeholder="Password" ng-model="formData.password" class="text-white montserrat">
            </label>
          </ion-list>
          <div style="margin-top: 5vh;">
            <center>
              <button ng-click="login()" class="button button-light button-block"
                style="border-radius: 100px; color: #00b5e4;font-weight: bold;">Log in</button>
              <button ng-click="kembali()" class="button button-outline button-light button-block"
                style="border-radius: 100px; color: white;font-weight: bold;">Kembali</button>
              <!-- <a ng-click="forgetPassword()" class="button button-assertive button-block button-clear">Forget Password?
                    Click
                    Here
                  </a> -->
            </center>
          </div>


        </form>
      </div>
    </div>

  </ion-content>
</ion-view>
