<ion-side-menus enable-menu-with-back-views="true">
  <style>
    .margin {
      /* border:0; */
      margin: 20px
    }

    .left-8vw {
      margin-left: 8vw !important;
    }

    .item>i.icon {
      margin-right: 20px
    }

    .item-rounded {
      border: 2px solid rgb(56, 126, 245) !important;
      border-radius: 100px;
    }

    .text-blue {
      color: rgb(56, 126, 245) !important;
    }

  </style>
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon text-white" menu-toggle="left"></button>

      </ion-nav-buttons>
      <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuAdmin"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="menuAdmin">
    <ion-header-bar class="bar-light">
      <div class="title font-bold text-blue text-center">Menu</div>
    </ion-header-bar>
    <ion-content padding="false" class="side-menu-left">

      <div class="list">

        <a class="item item-rounded text-blue margin" ui-sref="menuAdmin.berandaAdmin()" menu-close="">
          <ion-icon name="home-sharp" class="icon"></ion-icon>
          Beranda
        </a>
        <a class="item item-rounded text-blue margin" ui-sref="menuAdmin.dataPokokGuru()" menu-close="">
          <ion-icon name="person-sharp" class="icon"></ion-icon>
          Data Pokok Per Kecamatan
        </a>
        <a class="item item-rounded text-blue margin" ui-sref="menuAdmin.dataPegawaiDinas()" menu-close="">
          <ion-icon name="person-sharp" class="icon"></ion-icon>
          Data Pegawai Disdikpora
        </a>
        <a class="item item-rounded text-blue margin" ui-sref="menuAdmin.dataGuru()" menu-close="">
          <ion-icon name="person-sharp" class="icon"></ion-icon>
          Data Guru
        </a>
        <a class="item item-rounded text-blue margin" ui-sref="menuAdmin.dataPegawaiSekolah()" menu-close="">
          <ion-icon name="person-sharp" class="icon"></ion-icon>
          Data Pegawai Sekolah
        </a>
        <a class="item item-rounded text-blue margin" ui-sref="menuAdmin.dataPensiunBaru()" menu-close="">
          <ion-icon name="person-sharp" class="icon"></ion-icon>
          Data Pensiun
        </a>
        <a class="item item-rounded text-blue margin" ng-click="logout()">
          <ion-icon name="log-out-sharp" class="icon"></ion-icon>
          Keluar
        </a>


      </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
