<ion-view title="Data Kec {{kecamatanTampil}}" id="berandaAdmin">
  <ion-content padding="false" class="bg-latar">
    <div style="margin-top: 20px; margin-left:auto;margin-right:auto;width: 100vw;">
      <div>
        <!-- DATA GURU -->
        <div class="" style="margin-left:auto;margin-right:auto">
          <div class="card shadow-sm">
            <ion-item class="item putih bar bar-positive">
              <h2 class="text-center text-white">Sebaran Data</h2>
            </ion-item>
            <div class="p-0 m-0">
              <div class="">
                <div class="table-responsive">
                  <table class="table ">
                    <thead class="thead">
                      <tr>
                        <th scope="col" style="font-weight: bold;">Guru</th>
                        <td class="totalhonor" style="font-weight: bold;">{{totalGuru}}</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row" style="font-weight: bold;">Pegawai Sekolah</th>
                        <td class="totalkontrak" style="font-weight: bold;">{{totalPegawaiSekolah}}</td>
                      </tr>
                      <!-- <tr>
                        <th scope="row" style="font-weight: bold;">Honorer</th>
                        <td class="totalkontrak" style="font-weight: bold;">{{formData.honorerTotal}}</td>
                      </tr> -->
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="">
          <div class="card shadow-sm">
            <ion-item class="item putih bar bar-positive">
              <h3 class="text-center text-white">Sebaran Data GTK</h3>
            </ion-item>
            <div class="p-0 m-0">
              <div class="">
                <div class="table-responsive">
                  <table class="table ">
                    <thead class="thead " style="color:blue">
                      <tr>
                        <th scope="col">Jumlah</th>
                        <th scope="col">PNS</th>
                        <th scope="col">Honorer</th>
                        <th scope="col">Kontrak</th>
                        <th scope="col">PPPK</th>
                        <th scope="col">GTY</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">Laki-Laki</th>
                        <td class="pnslaki">{{formData.pnsdLaki}}</td>
                        <td class="honorlaki">{{formData.honorerLaki}}</td>
                        <td class="kontraklaki">{{formData.kontrakLaki}}</td>
                        <td class="pnslaki">{{formData.pppkLaki}}</td>
                        <td class="gtylaki">{{formData.gtyLaki}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Perempuan</th>
                        <td class="honorperempuan">{{formData.pnsdPerempuan}}</td>
                        <td class="kontrakperempuan">{{formData.honorerPerempuan}}</td>
                        <td class="kontrakperempuan">{{formData.kontrakPerempuan}}</td>
                        <td class="kontrakperempuan">{{formData.pppkPerempuan}}</td>
                        <td class="kontrakperempuan">{{formData.gtyPerempuan}}</td>
                      </tr>
                      <tr>
                        <th scope="row" style="font-weight: bold;">Total</th>
                        <td class="totalhonor" style="font-weight: bold;">{{formData.pnsdTotal}}</td>
                        <td class="totalkontrak" style="font-weight: bold;">{{formData.honorerTotal}}</td>
                        <td class="totalkontrak" style="font-weight: bold;">{{formData.kontrakTotal}}</td>
                        <td class="totalkontrak" style="font-weight: bold;">{{formData.pppkTotal}}</td>
                        <td class="totalkontrak" style="font-weight: bold;">{{formData.gtyTotal}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <div style="margin-left:auto;margin-right:auto;padding-left: 0.7%;padding-right: 0.6%;">
          <div class="row responsive-sm item item-divider">

            <!-- Form -->
            <!-- <div class="col">
              <div class="btn-group " style="width: 100%;">
                <select class="form-control" name="jenis-profesi" id="jenis-profesi" ng-model="formData.jenisProfesi">
                  <option value="-" selected>Jenis Profesi (Kosong)</option>
                  <option>Pegawai</option>
                  <option>Guru</option>
                </select>
              </div>
            </div> -->

            <div class="col">
              <div class="btn-group " style="width: 100%;">
                <select class="form-control" name="filter-pegawai" id="filter-pegawai" ng-model="formData.filterPegawai"
                  ng-change="cekFilter()">
                  <option value="-" selected>Jenis Filter (Kosong)</option>
                  <optgroup label="Data Kepegawaian">
                    <option value="status_kepegawaian">Status Kepegawaian</option>
                    <option value="pendidikan_terakhir">Studi Terakhir</option>
                    <option value="pangkat_terakhir">Golongan</option>
                    <option value="sertifikasi">Sertifikasi</option>
                  </optgroup>
                  <optgroup label="Tempat Tugas">
                    <option value="jenis_tempatTugas">Jenis Tempat Tugas</option>
                    <option value="subUnitDinas">Sub Unit Kerja</option>
                    <option value="jenjangSekolah">Jenjang</option>
                    <option value="idTempatTugas">Tempat Tugas</option>
                    <option value="status_jabatan">Status Jabatan</option>
                  </optgroup>
                </select>
              </div>
            </div>

            <div ng-if="sttsFilter == 'status_kepegawaian'" class="col">
              <div class="btn-group " style="width: 100%;">
                <select class="form-control" ng-model="formData.filterDetail">
                  <option value="-">Status Kepegawaian (Kosong)</option>
                  <option value="cpns">CPNS</option>
                  <option value="pnsd">PNS</option>
                  <option value="pppk">PPPK</option>
                  <option value="honorer daerah">Honorer daerah</option>
                  <option value="honorer sekolah">Honorer sekolah</option>
                  <option value="kontrak">Kontrak</option>
                </select>
              </div>
            </div>

            <div ng-if="sttsFilter == 'pendidikan_terakhir'" class="col">
              <div class="btn-group " style="width: 100%;">
                <select class="form-control" ng-model="formData.filterDetail">
                  <option value="-">Studi Terakhir (Kosong)</option>
                  <option value="SD">SD / SEDERAJAT</option>
                  <option value="SMP">SMP/SEDERAJAT</option>
                  <option value="SMA">SMA/SMK / SEDERAJAT</option>
                  <option value="D3">AKADEMI/ DIPLOMA III/S. MUDA</option>
                  <option value="D1/D2">DIPLOMA I / II</option>
                  <option value="S1/D4">STRATA I / DIPLOMA IV</option>
                  <option value="S2">STRATA II</option>
                  <option value="S3">STRATA III</option>
                </select>
              </div>
            </div>

            <div ng-if="sttsFilter == 'pangkat_terakhir'" class="col">
              <div class="btn-group " style="width: 100%;">
                <select class="form-control" ng-model="formData.filterDetail">
                  <option value="-">Golongan (Kosong)</option>
                  <option value="Ia">Ia</option>
                  <option value="Ib">Ib</option>
                  <option value="Ic">Ic</option>
                  <option value="Id">Id</option>
                  <option value="IIa">IIa</option>
                  <option value="IIb">IIb</option>
                  <option value="IIc">IIc</option>
                  <option value="IId">IId</option>
                  <option value="IIIa">IIIa</option>
                  <option value="IIIb">IIIb</option>
                  <option value="IIIc">IIIc</option>
                  <option value="IIId">IIId</option>
                  <option value="IVa">IVa</option>
                  <option value="IVb">IVb</option>
                  <option value="IVc">IVc</option>
                  <option value="IVd">IVd</option>
                  <option value="IVe">IVe</option>
                </select>
              </div>
            </div>

            <div ng-if="sttsFilter == 'sertifikasi'" class="col">
              <div class="btn-group " style="width: 100%;">
                <select class="form-control" ng-model="formData.filterDetail">
                  <option value="-">Sertifikasi (Kosong)</option>
                  <option value="sudah">Sudah</option>
                  <option value="belum">Belum</option>
                </select>
              </div>
            </div>

            <div ng-if="sttsFilter == 'jenis_tempatTugas'" class="col">
              <div class="btn-group " style="width: 100%;">
                <select class="form-control" ng-model="formData.filterDetail">
                  <option value="-">Jenis Tempat Tugas (Kosong)</option>
                  <option value="Disdikpora">Disdikpora</option>
                  <option value="Kordinator Wilayah">Kordinator Wilayah</option>
                  <option value="Sekolah">Satuan Pendidikan ( Sekolah )</option>
                </select>
              </div>
            </div>

            <div ng-if="sttsFilter == 'subUnitDinas'" class="col">
              <div class="btn-group " style="width: 100%;">
                <select class="form-control" ng-model="formData.filterDetail">
                  <option value="-">Sub Unit Kerja (Kosong)</option>
                  <option>Sekretariat</option>
                  <option>Bidang PAUD PNF</option>
                  <option>Bidang PSD</option>
                  <option>Bidang PSMP</option>
                  <option>Bidang PGTK</option>
                  <option>Bidang PPO</option>
                </select>
              </div>
            </div>

            <div ng-if="sttsFilter == 'jenjangSekolah'" class="col">
              <div class="btn-group " style="width: 100%;">
                <select class="form-control" ng-model="formData.filterDetail">
                  <option value="-">Jenjang (Kosong)</option>
                  <option value="TK">PAUD/TK</option>
                  <option value="SD">SD</option>
                  <option value="SMP">SMP</option>
                  <option value="SKB">SPNF SKB</option>
                  <option value="PKBM">PKBM</option>
                </select>
              </div>
            </div>

            <div ng-if="sttsFilter == 'idTempatTugas'" class="col">
              <div class="btn-group " style="width: 100%;">
                <select class="form-control" ng-model="formData.filterDetail">
                  <option value="-">Jenjang (Kosong)</option>
                  <option ng-repeat="data in dataSekolah | filter:searchData | orderBy:'sekolah'" value="{{data.npsn}}">
                    {{data.sekolah}}</option>
                </select>
              </div>
            </div>

            <div ng-if="sttsFilter == 'status_jabatan'" class="col">
              <div class="btn-group " style="width: 100%;">
                <select class="form-control" ng-model="formData.filterDetail">
                  <option value="-">Status Jabatan (Kosong)</option>
                  <optgroup label="Disdikpora">
                    <option>Struktural Eselon II</option>
                    <option>Struktural Eselon III</option>
                    <option>Struktural Eselon IV</option>
                    <option>Pengawas TK</option>
                    <option>Pengawas SD</option>
                    <option>Pengawas SMP</option>
                    <option>Penilik</option>
                    <option>Pamong Belajar</option>
                    <option>Tatausaha</option>
                    <option>Fungsional Umum</option>
                    <option>Laboran</option>
                    <option>Pustakawan</option>
                    <option>Lain - lain</option>
                  </optgroup>
                  <optgroup label="Kordinator Wilayah">
                    <option>Pengawas Sekolah</option>
                    <option>ASN Lainnya</option>
                  </optgroup>
                  <optgroup label="Satuan Pendidikan">
                    <option>Pengawas Sekolah</option>
                    <option>Kepala Sekolah</option>
                    <option>Ketua PKBM</option>
                    <option>Pelaksana Harian</option>
                    <option>Guru</option>
                    <option>Tutor</option>
                    <option>Pamong</option>
                    <option>Tenaga Administrasi</option>
                    <option>Laboran</option>
                    <option>Pustakawan</option>
                    <option>Penjaga Sekolah</option>
                    <option>Tenaga Kebersihan</option>
                    <option>Tenaga Keamanan</option>
                    <option>Tenaga Lainnya</option>
                  </optgroup>
                </select>
              </div>
            </div>

            <!-- <div class="col">
              <div class="btn-group " style="width: 100%;">
                <select class="form-control" name="stts-pegawai" id="stts-pegawai" ng-model="formData.sttsPegawai">
                  <option value="-" selected>Status Pegawai (Kosong)</option>
                  <option value="pnsd">PNSD</option>
                  <option value="pnsp">PNSP</option>
                  <option value="kontrak">Kontrak</option>
                  <option value="honorer">Honorer</option>
                  <option value="pppk">PPPK</option>
                </select>
              </div>
            </div>
            <div class="col">
              <div class="btn-group" style="width: 100%;">
                <select class="form-control" name="agama" id="agama" ng-model="formData.agama">
                  <option value="-" selected>Agama (Kosong)</option>
                  <option value="Hindu">Hindu</option>
                  <option value="Islam">Islam</option>
                  <option value="Katholik">Katholik</option>
                  <option value="Protestan">Protestan</option>
                  <option value="Budha">Budha</option>
                  <option value="Kong Hu Cu">Kong Hu Cu</option>
                </select>
              </div>
            </div>
            <div class="col">
              <div class="btn-group" style="width: 100%;">
                <select class="form-control" name="stts-sertif" id="stts-sertif" ng-model="formData.sttsSertif">
                  <option value="-" selected>Status Sertifikasi (Kosong)</option>
                  <option value="sudah">Sudah</option>
                  <option value="belum">Belum</option>
                </select>
              </div>
            </div>
            <div class="col">
              <div class="btn-group" style="width: 100%;">
                <select class="form-control" name="tmptTugas" id="tmptTugas" ng-model="formData.tmptTugas">                  
                  <option value="-" selected>Tempat Tugas (Kosong)</option>
                  <option value="Disdikpora Kab Buleleng">Disdikpora Kab Buleleng</option>
                  <option ng-repeat="data in dataSekolah | filter:searchData | orderBy:'sekolah'" value="{{data.npsn}}">
                    {{data.sekolah}}</option>
                </select>
              </div>
            </div> -->
            <div class="col">
              <div class="" style="border-radius: 15px;">
                <div class="">
                  <button ng-click="cariData()" class="button button-positive btn-block">
                    Filter
                  </button>
                </div>
              </div>
            </div>
          </div>
          <label class="item item-input shadow-sm h-70" id="home-search1">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Cari Data" ng-model="searchData">
          </label>
          <ion-list>
            <ion-item class="item-avatar item-icon-right shadow-sm h-70" id="home-list-item4"
              ng-repeat="data in dataGuru | filter:searchData | orderBy:nama" ng-click="detailGuru(data)">
              <img src="img/mudapns.png">
              <h3><span style="color:blue">{{$index+1}}. {{data.nama}}</span></h3>
              <p style="white-space:normal;">NIK. {{data.nik}}<br>
                <!-- Tahun Ajaran. {{data.tahunAjaran}}<br>
                          Kelas. {{data.namaKelas}}<br>
                          {{data.namaKotaKabupaten}}, {{data.namaProvinsi}}<br>
                          <em><small>{{data.tanggalDisplay}}, {{data.jamDisplay}}</small></em> -->
              </p>

              <i class="icon ion-ios-arrow-right icon-accessory"></i>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </div>

  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
    <!-- <button class="button button-clear pull-left">Jumlah GTK</button> -->
    <button class="button button-positive pull-right">Total :
      <strong>{{formData.totalGtk}}</strong> Orang</button>
  </ion-footer-bar>
</ion-view>