<ion-view title="Data Guru" id="berandaAdmin" class="latar" hide-back-button="false">
    <ion-content padding="false">
      <div class="bg-gradient-blue" style="min-height: 35vh;">
        <ion-slides disable-side-menu-drag=""
        options="{'loop': true,'initialSlide':0,'direction':horizontal,'speed':500,'autoplay':2000,'grabCursor':true}"
        slider="slider1" delegate-handle="slider1" style="width:100%;height:200px;" >
        <ion-slide-page>
          <div class="spacer" style="width: 320px; height: 0px;"></div>
          <div class="row responsive-md" style="margin: auto;">
            <div class="col col-50 col-offset-25">
              <div class="row" style="margin: auto">
                <div class="col col-50">
                  <img src="img/pnsbackground.png" style="display: block; margin-left: auto; margin-right: auto;">
                </div>
                <div class="col col-50" style="padding-left: 10px">
                  <h4 style="color:white;">DATA CENTER</h4>
                  <div class="show-list-numbers-and-dots">
                    <p style="color:white;font-size: 12px"><strong>Gudang Data Guru Se-Kabupaten Buleleng <br> Input dan
                        Lihat Data Guru Dengan Mudah dan Cepat</strong>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
        </ion-slide-page>
  
        <ion-slide-page>
          <div class="spacer" style="width: 320px; height: 0px;"></div>
          <div class="row responsive-md" style="margin: auto;">
            <div class="col col-50 col-offset-25">
              <div class="row" style="margin: auto">
                <div class="col col-50">
                  <img src="img/gurubackground.png" style="display: block; margin-left: auto; margin-right: auto;">
                </div>
                <div class="col col-50" style="padding-left: 10px">
                  <h4 style="color:white;">DATA CENTER</h4>
                  <div class="show-list-numbers-and-dots">
                    <p style="color:white;font-size: 12px"><strong>Gudang Data Guru Se-Kabupaten Buleleng <br> Input dan
                        Lihat Data Guru Dengan Mudah dan Cepat</strong>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ion-slide-page>
  
        <ion-slide-page>
          <div class="spacer" style="width: 320px; height: 0px;"></div>
          <div class="row responsive-md" style="margin: auto;">
            <div class="col col-50 col-offset-25">
              <div class="row" style="margin: auto">
                <div class="col col-50">
                  <img src="img/guru2.png" style="display: block; margin-left: auto; margin-right: auto;">
                </div>
                <div class="col col-50" style="padding-left: 10px">
                  <h4 style="color:white;">DATA CENTER</h4>
                  <div class="show-list-numbers-and-dots">
                    <p style="color:white;font-size: 12px"><strong>Gudang Data Guru Se-Kabupaten Buleleng <br> Input dan
                        Lihat Data Guru Dengan Mudah dan Cepat</strong>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ion-slide-page>
  
      </ion-slides>
      </div>

      <div class="bg-white" style="width: 100vw;border-radius:25px 25px 0px 0px;padding-top:2%;position: relative;bottom: 5vh;">
        <!-- DATA PEGAWAI DISDIKPORA -->
        <!-- <div class="" style="margin-left:auto;margin-right:auto">
          <div class="card shadow-sm">
            <ion-item class="item putih bar bar-positive">
              <h2 class="text-center text-white">Pegawai DisdikPora Kab.Buleleng</h2>
            </ion-item>
            <div class="p-0 m-0">
              <div class="">
                <div class="table-responsive">
                  <table class="table ">
                    <thead class="thead">
                      <tr>
                        <th scope="col" style="font-weight: bold;">PNS</th>
                        <td class="totalhonor" style="font-weight: bold;">{{formDataPegawaiDisdik.pnsdTotal}}</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row" style="font-weight: bold;">CPNS</th>
                        <td class="totalkontrak" style="font-weight: bold;">{{formDataPegawaiDisdik.cpnsTotal}}</td>
                      </tr>
                      <tr>
                        <th scope="row" style="font-weight: bold;">Honorer</th>
                        <td class="totalkontrak" style="font-weight: bold;">{{formDataPegawaiDisdik.honorerTotal}}
                        </td>
                      </tr>
                      <tr>
                        <th scope="row" style="font-weight: bold;">Kontrak</th>
                        <td class="totalkontrak" style="font-weight: bold;">{{formDataPegawaiDisdik.kontrakTotal}}
                        </td>
                      </tr>
                      <tr>
                        <th scope="row" style="font-weight: bold;">PPPK</th>
                        <td class="totalkontrak" style="font-weight: bold;">{{formDataPegawaiDisdik.pppkTotal}}</td>
                      </tr>
                      <tr>
                        <th scope="row" style="font-weight: bold; color: blue;">TOTAL</th>
                        <td class="totalkontrak" style="font-weight: bold;">{{totalPegawaiDisdik}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <!-- DATA GURU -->
        <div class="desktop" style="margin-left:auto;margin-right:auto; ">
          <div class="card shadow-sm" style="border-radius: 15px;">
            <ion-item class="item putih bar bar-positive">
              <h2 class="text-center text-white">Jumlah Data Guru</h2>
            </ion-item>
            <div class="p-0 m-0">
              <div class="">
                <div class="table-responsive">
                  <table class="table ">
                    <thead class="thead">
                      <tr ng-click="dataPNS()">
                        <th scope="col" style="font-weight: bold;">PNS</th>
                        <td class="totalhonor" style="font-weight: bold;">{{formData.pnsdTotal}}</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-click="dataCPNS()">
                        <th scope="row" style="font-weight: bold;">CPNS</th>
                        <td class="totalkontrak" style="font-weight: bold;">{{formData.cpnsTotal}}</td>
                      </tr>
                      <tr ng-click="dataHonorer()">
                        <th scope="row" style="font-weight: bold;">Honorer</th>
                        <td class="totalkontrak" style="font-weight: bold;">{{formData.honorerTotal}}</td>
                      </tr>
                      <tr ng-click="dataKontrak()">
                        <th scope="row" style="font-weight: bold;">Kontrak</th>
                        <td class="totalkontrak" style="font-weight: bold;">{{formData.kontrakTotal}}</td>
                      </tr>
                      <tr ng-click="dataPPPK()">
                        <th scope="row" style="font-weight: bold;">PPPK</th>
                        <td class="totalkontrak" style="font-weight: bold;">{{formData.pppkTotal}}</td>
                      </tr>
                      <tr ng-click="dataGTY()">
                        <th scope="row" style="font-weight: bold;">GTY</th>
                        <td class="totalkontrak" style="font-weight: bold;">{{formData.gtyTotal}}</td>
                      </tr>
                      <tr>
                        <th scope="row" style="font-weight: bold; color: blue;">TOTAL</th>
                        <td class="totalkontrak" style="font-weight: bold;">{{totalGuru}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- DATA PEGAWAI -->
        <!-- <div class="" style="margin-left:auto;margin-right:auto">
          <div class="card shadow-sm">
            <ion-item class="item putih bar bar-positive">
              <h2 class="text-center text-white">Jumlah Data Pegawai Sekolah</h2>
            </ion-item>
            <div class="p-0 m-0">
              <div class="">
                <div class="table-responsive">
                  <table class="table ">
                    <thead class="thead">
                      <tr>
                        <th scope="col" style="font-weight: bold;">PNS</th>
                        <td class="totalhonor" style="font-weight: bold;">{{formDataPegawai.pnsdTotal}}</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row" style="font-weight: bold;">CPNS</th>
                        <td class="totalkontrak" style="font-weight: bold;">{{formDataPegawai.cpnsTotal}}</td>
                      </tr>
                      <tr>
                        <th scope="row" style="font-weight: bold;">Honorer</th>
                        <td class="totalkontrak" style="font-weight: bold;">{{formDataPegawai.honorerTotal}}</td>
                      </tr>
                      <tr>
                        <th scope="row" style="font-weight: bold;">Kontrak</th>
                        <td class="totalkontrak" style="font-weight: bold;">{{formDataPegawai.kontrakTotal}}</td>
                      </tr>
                      <tr>
                        <th scope="row" style="font-weight: bold;">PPPK</th>
                        <td class="totalkontrak" style="font-weight: bold;">{{formDataPegawai.pppkTotal}}</td>
                      </tr>
                      <tr>
                        <th scope="row" style="font-weight: bold;">GTY</th>
                        <td class="totalkontrak" style="font-weight: bold;">{{formDataPegawai.gtyTotal}}</td>
                      </tr>
                      <tr>
                        <th scope="row" style="font-weight: bold; color: blue;">TOTAL</th>
                        <td class="totalkontrak" style="font-weight: bold;">{{totalPegawai}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <!-- DATA GTK PENSIUN -->
        <!-- <div class="" style="margin-left:auto;margin-right:auto">
          <div class="card shadow-sm">
            <ion-item class="item putih bar bar-positive">
              <h2 class="text-center text-white">Jumlah GTK Pensiun</h2>
            </ion-item>
            <div class="p-0 m-0">
              <div class="">
                <div class="table-responsive">
                  <table class="table ">
                    <thead class="thead" style="color:blue">
                      <tr>
                        <th scope="col">Tahun</th>
                        <th scope="col">Jumlah</th>
                        <th scope="col">Aksi</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row" style="font-weight: bold;">2021</th>
                        <td class="totalkontrak" style="font-weight: bold;">{{jumlah_pensiun2021}}</td>
                        <td>
                          <button class="button button-icon-left button-small button-positive font-weight-bold"
                            ng-click="tahun2021()">
                            <i class="icon ion-eye"></i>
                            Lihat
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row" style="font-weight: bold;">2022</th>
                        <td class="totalkontrak" style="font-weight: bold;">{{jumlah_pensiun2022}}</td>
                        <td>
                          <button class="button button-icon-left button-small button-positive font-weight-bold"
                            ng-click="tahun2022()">
                            <i class="icon ion-eye"></i>
                            Lihat
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row" style="font-weight: bold;">2023</th>
                        <td class="totalkontrak" style="font-weight: bold;">{{jumlah_pensiun2023}}</td>
                        <td>
                          <button class="button button-icon-left button-small button-positive font-weight-bold"
                            ng-click="tahun2023()">
                            <i class="icon ion-eye"></i>
                            Lihat
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </ion-content>
  </ion-view>