<ion-view title="Upload Kartu Vaksin" id="berandaGuru">
  <ion-content padding="false">
    <div class="bg-gradient-blue" style="min-height: 35vh;">
      <center>
        <div>
          <img src="img/logo.png" ng-if="fotoProfil === false" style="width:100px;padding-top:15px;">
          <img src="{{fotoProfilUrl}}" ng-if="fotoProfil === true">
          <img src="img/logo.png">
          <h3 style="color:white;font-size:20px">{{formData.nama}}</h3>
          <p style="color:white;padding-bottom:15px">{{formData.nik}}</p>
        </div>
      </center>
    </div>
    <div class="bg-white bg-watermark"
      style="padding:0px; border-radius : 25px 25px 0px 0px;position: relative;bottom:5vh">
      <div class="">
        <div class="desktop" style="padding:10px">
          <div class="" ng-if="vaksin1 === false">
            <p style="text-align: justify;">
              Kartu Vaksin 1
            </p>
            <input type="file" id="inputVaksin1">
            <br>
            <button class="button button-positive button-block" ng-click="UploadVaksin1()">Upload
            </button>
          </div>


          <div class="" ng-if="vaksin2 === false">
            <p style="text-align: justify;">
              Kartu Vaksin 2
            </p>
            <input type="file" id="inputVaksin2">
            <br>
            <button class="button button-positive button-block" ng-click="UploadVaksin2()">Upload
            </button>

          </div>
        </div>

      </div>
    </div>

  </ion-content>
</ion-view>
