<ion-view title="Data Centre Guru" hide-nav-bar="true" cache-view="false" id="welcome">
    <ion-content padding="false" class="manual-ios-statusbar-padding bg-gradient-blue" scroll="false">
        <style>
            #mainPage-heading1{
                text-align: center;
                font-size: 25px;
                font-weight: bold;
            }
            .button-block{
                width: 75%;
                margin: auto;
            }
        </style>
        <div class="spacer" style="height: 40px;"></div>
        <div class="row responsive-md" style="margin: auto;">
            <div class="col col-50 col-offset-25">
                <div>
                    <img src="img/Lambang_Kabupaten_Buleleng.png"
                        style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto; ">
                </div>
                <br>
                <!-- <h1 id="mainPage-heading1" style="text-align:center; font-size: 25px;" class="text-white montserrat">Selamat Datang di</h1> -->
                <h1 id="mainPage-heading1" class="text-white montserrat">Data Centre GTK</h1>
                <h1 id="mainPage-heading1" class="text-white montserrat"> Disdikpora Kabupaten Buleleng</h1>
                <div id="mainPage-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
                    <p style="padding: 17px;color:white">Data Centre Guru dan Tenaga Kependidikan Disdikpora Kabupaten Buleleng merupakan aplikasi mobile yang digunakan untuk memudahkan pendataan dan monitoring data guru dan tenaga kependidikan serta pegawai di Lingkungan Disdikpora Kabupaten Buleleng</p>
                </div>
                <a id="mainPage-button1" ng-click="login()" 
                class="button button-light button-block" style="color: #00b5e4; border-radius: 100px;font-weight: bold;">Log in</a>
                <!-- <a id="mainPage-button2" ng-click="registrasi()"
                    class="button button-positive button-block button-outline btn-welcome"> Belum Punya Akun ? Daftar
                    Sekarang</a> -->
            </div>
        </div>
    </ion-content>
</ion-view>